<%= turbo_frame_tag 'first_frame' do %>
<% content_for :title, "New room" %>
<%= render "form", room: @room %>

<br>

<div>
  <%= link_to "Back to rooms", rooms_path , class: "btn btn-secondary" %>
</div>
<% end %>