
<section class="w-100 text-center mt-5">
  <h1>Bienvenue sur poker deck</h1>
  <p class="lead">Collaborez avec votre équipe pour estimer les user stories et planifier les sprints.</p>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
   Participer &agrave; la session  
  </button>
  <!-- Modal -->
  <div class="modal modal-lg fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <%= form_with(url: participation_room_path(@room)) do |form| %>
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Participer &agrave; une nouvelle session</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
             <div class="mb-3 row">
              <label for="inputName" class="col-sm-2 col-form-label d-flex justify-content-start">Nom :</label>
              <div class="col-sm-10">
                <%= form.text_field :name, class: "form-control", placeholder: "Entrez votre nom" %>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-primary">Participer</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
